body {
	background-color: #ffffff;
}

.logoname {
	 	display:flex;
}
.logoname:after {
  color:white;
  content:'';
  flex:1;
  border-bottom:groove 4px;
  margin:auto 0.25em;
  box-shadow: 0 -1px ;/* ou 0 1px si border-style:ridge */
}

.banner {  

	background-image: url(../image/faq.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
}

.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}





