.section-header2 h5 {
  font-size: 24px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  position: relative;
  padding-bottom: 15px;
  padding-top: 15px;
}

.section-header2 h5::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header2 h5::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #00446d;
  bottom: 0;
  left: calc(50% - 20px);
}

.slider {
    top: 1em;
    position: relative;
    box-sizing: border-box;
    animation: slider 30s linear infinite;
    list-style-type: none;
    text-align: center;
  	
}


.slider:hover { /* Stops when pointed on the list item*/
    animation-play-state: paused;
}

@keyframes slider {
    0%   { top:   35em }
    100% { top: -155em }
}


.blur .slider {
  	margin: 0;
    padding: 0 1em;
    line-height: 1.5em;
}

.blur:before, .blur::before,
.blur:after,  .blur::after {
    left: 0;
    z-index: 1;
    content: '';
    position: absolute;
    width: 100%; 
    height: 2em;
    background-image: linear-gradient(180deg, #FFF, rgba(255,255,255,0));
}

.blur:after, .blur::after {
    bottom: 0;
    transform: rotate(180deg);
}

.blur:before, .blur::before {
    top: 0;
}